<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Start Bootstrap Template</title>
  <!-- Bootstrap core CSS-->
  <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="{{ url_for('static',filename='vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="{{ url_for('static',filename='css/sb-admin.css')}}" rel="stylesheet">
  <!-- Page level plugin CSS-->
  <link href="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.css')}}" rel="stylesheet">
</head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">실종자수정</div>
      <div class="card-body">
        <form>
			<div class="form-group">
              <div class="col-md-6">
                <label for="exampleInputName">이름</label><br>	
                <label>홍길순</label>
              </div>
			</div>
			<div class="form-group">
              <div class="col-md-6">
                <label for="exampleInputLastName">등록자</label><br>
                <label>홍길동</label>
              </div>
			</div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputPassword1">키</label><br>
                <label for="exampleInputPassword1">155cm</label>
              </div>
              <div class="col-md-6">
                <label for="exampleConfirmPassword">몸무게</label><br>
                <label for="exampleInputPassword1">40kg</label>
              </div>
              <div class="col-md-6">
                <label for="exampleConfirmPassword">나이</label><br>
                <label for="exampleInputPassword1">20살</label>
              </div>
              <div class="col-md-6">
                <label for="exampleConfirmPassword">성별</label><br>
                <label for="exampleInputPassword1">여성</label>
              </div>
            </div>
          </div>
			<div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputLastName">연락처</label>
                <input class="form-control" id="exampleInputLastName" type="text" aria-describedby="nameHelp" placeholder="010-0000-0000">
              </div>
              <div class="col-md-6">
                <label for="exampleInputLastName">사진내역</label>
          <a class="btn btn-primary btn-block" href="tables.html">사진수정</a>
              </div>
			</div>
			</div>
 		<div class="form-group">
            <label for="exampleInputEmail1">주소</label>
            <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="서울수 서울구 서울동 11-11">
          </div>          
          <div class="form-row">
          <div class="col-md-6">
          <a class="btn btn-primary btn-block" href="/table">실종자정보삭제</a>
          </div>
          <div class="col-md-6">
          <a class="btn btn-primary btn-block" href="/table">수정</a>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>
