{% extends "blank.html" %}
{% block head %}
	{{super()}}
{% endblock %}
{% block body %}
	{{super()}}
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i>실종자 명단</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>이름</th>
                  <th>실종장소</th>
                  <th>실종날자</th>
                  <th>실종나이</th>
                  <th>등록자</th>
                  <th>수정</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>이름</th>
                  <th>실종장소</th>
                  <th>실종날자</th>
                  <th>실종나이</th>
                  <th>등록자</th>
                  <th>수정</th>
                </tr>
              </tfoot>
              <tbody>
                <tr>
                  <td>홍길순</td>
                  <td>서울시 서울구 서울동 11-11</td>
                  <td>0000년00월00일</td>
                  <td>30살</td>
                  <td>홍길동</td>
                 <td align="center"><a class="btn btn-primary btn-block" href="/missingedit"style="width: 56px;height: 29px; padding-top: 0px;">●</a></td>
                </tr>
                <tr>
                  <td>홍길순</td>
                  <td>서울시 서울구 서울동 11-11</td>
                  <td>0000년00월00일</td>
                  <td>30살</td>
                  <td>홍길동</td>
                 <td align="center"><a class="btn btn-primary btn-block" href="/missingedit"style="width: 56px;height: 29px; padding-top: 0px;">●</a></td>
                </tr>
                <tr>
                  <td>홍길순</td>
                  <td>서울시 서울구 서울동 11-11</td>
                  <td>0000년00월00일</td>
                  <td>30살</td>
                  <td>홍길동</td>
                 <td align="center"><a class="btn btn-primary btn-block" href="/missingedit"style="width: 56px;height: 29px; padding-top: 0px;">●</a></td>
                </tr>
                <tr>
                  <td>홍길순</td>
                  <td>서울시 서울구 서울동 11-11</td>
                  <td>0000년00월00일</td>
                  <td>30살</td>
                  <td>홍길동</td>
                 <td align="center"><a class="btn btn-primary btn-block" href="/missingedit"style="width: 56px;height: 29px; padding-top: 0px;">●</a></td>
                </tr>
                <tr>
                  <td>홍길순</td>
                  <td>서울시 서울구 서울동 11-11</td>
                  <td>0000년00월00일</td>
                  <td>30살</td>
                  <td>홍길동</td>
                 <td align="center"><a class="btn btn-primary btn-block" href="/missingedit"style="width: 56px;height: 29px; padding-top: 0px;">●</a></td>
                </tr>
                <tr>
                  <td>홍길순</td>
                  <td>서울시 서울구 서울동 11-11</td>
                  <td>0000년00월00일</td>
                  <td>30살</td>
                  <td>홍길동</td>
                 <td align="center"><a class="btn btn-primary btn-block" href="/missingedit"style="width: 56px;height: 29px; padding-top: 0px;">●</a></td>
                </tr>
                <tr>
                  <td>홍길순</td>
                  <td>서울시 서울구 서울동 11-11</td>
                  <td>0000년00월00일</td>
                  <td>30살</td>
                  <td>홍길동</td>
                 <td align="center"><a class="btn btn-primary btn-block" href="/missingedit"style="width: 56px;height: 29px; padding-top: 0px;">●</a></td>
                </tr>
                <tr>
                  <td>홍길순</td>
                  <td>서울시 서울구 서울동 11-11</td>
                  <td>0000년00월00일</td>
                  <td>30살</td>
                  <td>홍길동</td>
                 <td align="center"><a class="btn btn-primary btn-block" href="/missingedit"style="width: 56px;height: 29px; padding-top: 0px;">●</a></td>
                </tr>
                <tr>
                  <td>홍길순</td>
                  <td>서울시 서울구 서울동 11-11</td>
                  <td>0000년00월00일</td>
                  <td>30살</td>
                  <td>홍길동</td>
                 <td align="center"><a class="btn btn-primary btn-block" href="/missingedit"style="width: 56px;height: 29px; padding-top: 0px;">●</a></td>
                </tr>
                <tr>
                  <td>홍길순</td>
                  <td>서울시 서울구 서울동 11-11</td>
                  <td>0000년00월00일</td>
                  <td>30살</td>
                  <td>홍길동</td>
                 <td align="center"><a class="btn btn-primary btn-block" href="/missingedit"style="width: 56px;height: 29px; padding-top: 0px;">●</a></td>
                </tr>
                <tr>
                  <td>홍길순</td>
                  <td>서울시 서울구 서울동 11-11</td>
                  <td>0000년00월00일</td>
                  <td>30살</td>
                  <td>홍길동</td>
                 <td align="center"><a class="btn btn-primary btn-block" href="/missingedit"style="width: 56px;height: 29px; padding-top: 0px;">●</a></td>
                </tr>
                <tr>
                  <td>홍길순</td>
                  <td>서울시 서울구 서울동 11-11</td>
                  <td>0000년00월00일</td>
                  <td>30살</td>
                  <td>홍길동</td>
                 <td align="center"><a class="btn btn-primary btn-block" href="/missingedit"style="width: 56px;height: 29px; padding-top: 0px;">●</a></td>
                </tr>
                <tr>
                  <td>홍길순</td>
                  <td>서울시 서울구 서울동 11-11</td>
                  <td>0000년00월00일</td>
                  <td>30살</td>
                  <td>홍길동</td>
                 <td align="center"><a class="btn btn-primary btn-block" href="/missingedit"style="width: 56px;height: 29px; padding-top: 0px;">●</a></td>
                </tr>
                <tr>
                  <td>홍길순</td>
                  <td>서울시 서울구 서울동 11-11</td>
                  <td>0000년00월00일</td>
                  <td>30살</td>
                  <td>홍길동</td>
                 <td align="center"><a class="btn btn-primary btn-block" href="/missingedit"style="width: 56px;height: 29px; padding-top: 0px;">●</a></td>
                </tr>
                <tr>
                  <td>홍길순</td>
                  <td>서울시 서울구 서울동 11-11</td>
                  <td>0000년00월00일</td>
                  <td>30살</td>
                  <td>홍길동</td>
                 <td align="center"><a class="btn btn-primary btn-block" href="/missingedit"style="width: 56px;height: 29px; padding-top: 0px;">●</a></td>
                </tr>
                <tr>
                  <td>홍길순</td>
                  <td>서울시 서울구 서울동 11-11</td>
                  <td>0000년00월00일</td>
                  <td>30살</td>
                  <td>홍길동</td>
                 <td align="center"><a class="btn btn-primary btn-block" href="/missingedit"style="width: 56px;height: 29px; padding-top: 0px;">●</a></td>
                </tr>
                <tr>
                  <td>홍길순</td>
                  <td>서울시 서울구 서울동 11-11</td>
                  <td>0000년00월00일</td>
                  <td>30살</td>
                  <td>홍길동</td>
                 <td align="center"><a class="btn btn-primary btn-block" href="/missingedit"style="width: 56px;height: 29px; padding-top: 0px;">●</a></td>
                </tr>
                <tr>
                  <td>홍길순</td>
                  <td>서울시 서울구 서울동 11-11</td>
                  <td>0000년00월00일</td>
                  <td>30살</td>
                  <td>홍길동</td>
                 <td align="center"><a class="btn btn-primary btn-block" href="/missingedit"style="width: 56px;height: 29px; padding-top: 0px;">●</a></td>
                </tr>
                <tr>
                  <td>홍길순</td>
                  <td>서울시 서울구 서울동 11-11</td>
                  <td>0000년00월00일</td>
                  <td>30살</td>
                  <td>홍길동</td>
                 <td align="center"><a class="btn btn-primary btn-block" href="/missingedit"style="width: 56px;height: 29px; padding-top: 0px;">●</a></td>
                </tr>
                <tr>
                  <td>홍길순</td>
                  <td>서울시 서울구 서울동 11-11</td>
                  <td>0000년00월00일</td>
                  <td>30살</td>
                  <td>홍길동</td>
                 <td align="center"><a class="btn btn-primary btn-block" href="/missingedit"style="width: 56px;height: 29px; padding-top: 0px;">●</a></td>
                </tr>
                <tr>
                  <td>홍길순</td>
                  <td>서울시 서울구 서울동 11-11</td>
                  <td>0000년00월00일</td>
                  <td>30살</td>
                  <td>홍길동</td>
                 <td align="center"><a class="btn btn-primary btn-block" href="/missingedit"style="width: 56px;height: 29px; padding-top: 0px;">●</a></td>
                </tr>
                <tr>
                  <td>홍길순</td>
                  <td>서울시 서울구 서울동 11-11</td>
                  <td>0000년00월00일</td>
                  <td>30살</td>
                  <td>홍길동</td>
                  <td align="center"><a class="btn btn-primary btn-block" href="/missingedit"style="width: 56px;height: 29px; padding-top: 0px;">●</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
    
{% endblock %}
</html>
